fastapi==0.104.1
uvicorn[standard]==0.24.0
websockets==11.0.3
langchain-openai
langchain-core
langgraph
ipython
tavily-python
pandas
numpy
matplotlib
langchain-experimental
requests
beautifulsoup4
openpyxl
xlrd 
tqdm
huggingface_hub
kaggle
openml
python-dotenv==1.0.0
pydantic==2.5.0